services:
  cs-server:
    image: quantux1/cstrike-1.6-docker:latest
    container_name: cstrike-1.6-docker
    restart: unless-stopped
    stdin_open: true
    tty: true
    ports:
      - "27015:27015"
      - "27015:27015/udp"
    volumes:
      - ./server.cfg:/opt/steam/hlds/cstrike/server.cfg
      - ./cstrike:/opt/steam/hlds/cstrike
    command: ["+map", "de_dust2", "+maxplayers", "16"]
