services:
  cs-server:
    user: "1000:1000"
    build:
      context: .
      dockerfile: Dockerfile
    image: cstrike-1.6-docker:latest
    container_name: cstrike-1.6-docker
    restart: unless-stopped
    stdin_open: true
    tty: true
    ports:
      - "27015:27015"
      - "27015:27015/udp"
    volumes:
      - ./cstrike:/opt/steam/hlds/cstrike
    command: ["+map", "de_dust2", "+maxplayers", "16"]
